* {
    box-sizing: border-radius;
    width: 100%;
    text-align: center;
    align-content: center;
}

html,
body {
    background-image: url('imagemuniverso.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: white;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

header {
    width: 100%;
    height: 50px;
    text-align: center;
    color: black;
    position: relative;
    background-color: rgb(2, 55, 102);
    border-radius: 20px 20px 0px 0px;
}

section {
    width: 100%;
    color: black;
    background-color: rgb(2, 55, 102);
    border-radius: 0px 0px 20px 20px;
}


}
.card-content,
.card-title,
.card-image {
    color: aliceblue;
}