* {
    box-sizing: border-box;
    width: 100%;
    color: white;
}

html,
body {
    background-image: url('imagemuniverso.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
}

header {
    height: 48px;
    position: relative;
    text-align: center;
    padding: 10px;
}

section {
    height: 500px;
}

footer {
    height: 40px;
    text-align: center;
}